@using GameBlogSite.Models.EntityFramework
@model List<Category>

<div class="single-widget-area mb-30">
    <!-- Title -->
    <div class="widget-title">
        <h6>Kategoriler</h6>
    </div>
    <ol class="nikki-catagories">
        @foreach (var item in Model)
        {
            <li><a href="/Category/Index/@item.Id"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Name</span> <span>(@item.Article.Where(x => x.CategoryId == item.Id).Count())</span></a></li>
        }
    </ol>
</div>
