<div class="search-form">
    <form action="#" method="get">
        <input type="search" name="search" class="form-control" placeholder="Arama yapınız...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
