@model GameBlogSite.Models.EntityFramework.Images

@{
    ViewBag.Title = "İçerik Alt Resimleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("ArticleImages", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="white-box">
                <div class="form-group">
                    <label for="exampleInputpwd2">Alt Resim</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-image"></i></div>
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control", @type = "file", @multiple = "multiple" })
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Ekle</button>
                    <a href="@Url.Action("Article","Admin")" class="btn btn-inverse waves-effect waves-light">Geri</a>
                </div>
            </div>
        }

        @Html.Action("ImageList", "Partial")
    </div>
</div>
